// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/MemoryAccess/StaticTest/StaticTest.vm

// Executes pop and push commands using the static segment.
// push constant 111
// push constant 333
// push constant 888
// pop static 8
// pop static 3
// pop static 1
// push static 3
// push static 1
push constant 1
pop static 0
push static 0

// step 1 - parse all lines into an array
// step 2 - break line into object or array


// create a function for each line type
// push, pop (move mem on/off stack)
// add = x + y
// sub = x - y
// lt  = -y
// eq  = x==y (returns 0/1)
// gt  = x>y
// lt  = x<y (returns 0/1 or true/false)
// and = x AND y (binary hash)
// or  = x OR y (binary hash?)
// not = NOT y (binary hash?)
